.secondary-toolbar {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 9998;
  width: 32px;
  background: $black;
  color: $white;
  box-shadow: $toolbar-shadow;

  @media (max-width: 1024px) {
    display: none;
  }

  &__button {
    position: relative;
    display: block;
    appearance: none;
    background: $black;
    color: $white;
    border: none;
    border-bottom: 1px solid $black-hover;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 1;

    &:last-child {
      border-bottom: none;
    }

    &:focus:not([aria-disabled='true']) {
      background: darken($black-hover, 3%);
    }

    &:focus {
      outline: 0;
      z-index: 2;
    }

    @media (hover: hover) {
      &:hover:not([aria-disabled='true']) {
        background: $black-hover;
      }
    }

    &[aria-disabled='true'] {
      color: rgba($white, 0.4);
      cursor: not-allowed;
    }

    svg {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
      fill: currentColor;
    }
  }
}
