<div class="map-container">
  <div id="map" class="map" style="cursor: crosshair" tabindex="-1" aria-label="Battle Map"></div>
  <div id="brush-cursor" class="brush-cursor">
    <div class="brush-cursor__cursor"></div>
  </div>
</div>