<div id="secondary-toolbar" class="secondary-toolbar">
  <button class="secondary-toolbar__button" type="button" data-tool="zoom-in" title="Zoom In" aria-label="Zoom In">
    <svg aria-hidden="true">
      <use xlink:href="#plus-solid"></use>
    </svg>
  </button>
  <button class="secondary-toolbar__button" type="button" data-tool="zoom-out" title="Zoom Out" aria-label="Zoom Out">
    <svg aria-hidden="true">
      <use xlink:href="#minus-solid"></use>
    </svg>
  </button>
</div>