<button class="toolbar__button" type="button" data-tool="undo" title="Undo" aria-label="Undo" aria-disabled="true">
  <svg aria-hidden="true">
    <use xlink:href="#undo-alt-solid"></use>
  </svg>
</button>
<button class="toolbar__button" type="button" data-tool="redo" title="Redo" aria-label="Redo" aria-disabled="true">
  <svg aria-hidden="true" style="transform: scaleX(-1);">
    <use xlink:href="#undo-alt-solid"></use>
  </svg>
</button>